$blue: #4c80c5;

body {
	background: #111;
	color: #fff;
	font-family: 'Open Sans', helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.8;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%;
}

h1, h2, h3 {
	font-weight: 700;
}

p {
	font-size: 2.5em;
	font-weight: 300;
	color: #999;
	letter-spacing: 0.05em;
}

input, textarea {
	font-size: 2.5em;
	padding: 10px;
	margin-bottom: 20px;
	width: 100%;
	color: #333;
}

header {
	background: #fff;
	.logo {
		position: absolute;
		margin-left: 50%;
		left: -25px;
		max-height: 50px;
	}
}

a {
	font-weight: 400;
	color: #fff;
	letter-spacing: 0.05em;
	&:hover, &:focus {
		color: #fff;
		text-decoration: none;
	}
}

section {
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
	background-color: #333;
	.container {
		text-align: center;
		position: relative;
	}
}

footer {
	background: $blue;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #ddd;
	ul {
		text-align: center;
		li {
			padding: 5px;
			font-size: 2em;
			&:first-child {
				color: #fff;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
	.copy {
		text-align: center;
	}
}

.inverse {
	background: #f2f2f2;
	color: #333;
	.bar {
		background: #333;
	}
}

.navbar {
	position: fixed;
	width: 100%;
	border-radius: 0;
	z-index: 999;
	background: #fff;
	border: none;
	a {
		font-size: 2em;
		background: #fff;
		color: #000;
		transition: all .33s ease;
		&:hover {
			background: #000 !important;
			color: #fff !important;
		}
	}
}

.more {
	color: #fff;
	font-weight: 700;
}

.bar {
	display: block;
	height: 4px;
	width: 75px;
	background-color: #fff;
	margin: 20px auto;
}

.btn-primary, .btn-default {
	border-radius: 20px;
	color: #fff;
	padding: 10px 20px;
	background: $blue;
	transition: all .2s ease;
	margin-bottom: 5px;
	font-weight: 900;
	text-transform: uppercase;
	&:hover, &:focus {
		background-color: #fff;
		border-color: #fff;
		color: #333;
	}
}

#page-head {
	background: none;
	background-size: 100%;
	background-position: 50%;
	padding-top: 110px;
	p {
		color: #fff;
	}
	h1, p {
		text-shadow: 0 1px 3px #000;
	}
}

#affiliations {
	.row {
		margin-top: 60px;
	}
	img {
		max-height: 150px;
		margin: auto;
	}
}

/* Home Page */

#intro {
	background: none;
	background-size: 100%;
	background-position: 50%;
	min-height: 800px;
	padding-top: 200px;
	h1 {
		font-family: 'Oswald', Arial, sans-serif;
		text-transform: uppercase;
		font-size: 20em;
		span {
			color: $blue;
		}
	}
	p {
		color: #fff;
		.btn {
			margin-top: 10px;
			background: none;
			border: 1px solid #fff;
			margin-left: 5px;
			&:hover {
				background: #fff;
			}
			i {
				font-size: 1.25em;
				position: relative;
				top: 1px;
				left: 2px;
			}
		}
	}
	.continue {
		margin-top: 60px;
		background: #222;
		padding: 15px 13px 13px 15px;
		border-radius: 50%;
	}
}

#what-we-do {
	.row {
		.fa {
			margin-top: 20px;
			margin-bottom: 20px;
			font-size: 8em;
		}
	}
}

#home-graphics {
	.desktop {
		position: relative;
		z-index: 3;
		margin: auto;
	}
	.carousel {
		position: absolute;
		top: 190px;
		margin-left: 50%;
		left: -342px;
		z-index: 2;
	}
}

#home-mobile-ready {
	background-color: #000;
	background: none;
	background-size: 100%;
	background-position: 50%;
	h3 {
		text-align: left;
	}
	.btn {
		position: relative;
		top: 40px;
	}
}

#home-testimonials {
	.carousel-caption {
		position: relative;
		right: initial;
		bottom: initial;
		left: initial;
		z-index: 10;
		padding: 0;
	}
	img {
		border-radius: 50%;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.carousel {
		margin-bottom: 40px;
	}
}

/* Portfolio Page */

#portfolio {
	#portfolio-grid {
		padding-top: 40px;
		button {
			background: none;
			border: 1px solid #fff;
			color: #fff;
			padding: 10px 20px;
			font-size: 2em;
			margin-right: 10px;
			transition: background-color .2s ease;
			margin-bottom: 5px;
			&:hover {
				background: #fff;
				color: #333;
			}
		}
		figure {
			overflow: hidden;
			margin-bottom: 40px;
			position: relative;
			figcaption {
				font-size: 2em;
				em {
					font-size: 0.75em;
					font-weight: 300;
				}
			}
			i {
				padding: 10px;
				color: #fff;
				position: absolute;
				z-index: 999;
				top: 60px;
				left: 120px;
				background: #333;
				padding: 17px 15px 15px 17px;
				border-radius: 50%;
				font-size: 3em;
				&:hover {
					background: #444;
				}
			}
			a {
				opacity: 0;
				transition: opacity .2s ease;
			}
			&:hover > a {
				opacity: 1;
			}
		}
		.active {
			background: #fff;
			color: #333;
		}
		.filter-options {
			text-align: center;
		}
		#grid {
			margin-top: 40px;
		}
	}
	.btn {
		margin-top: 40px;
	}
}

/* Services */

#services {
	section {
		padding-bottom: 0;
		img {
			margin: auto;
			padding-top: 40px;
		}
	}
	#page-head {
		padding-bottom: 80px;
		.btn-primary {
			text-shadow: none;
			font-size: 0.75em;
		}
	}
}

/* About */

#about {
	.company {
	}
	.founder {
		background: #000 url('images/bryan-zion.png') top center no-repeat;
		background-size: 100%;
		min-height: 550px;
		p {
			text-align: left;
			margin-top: 40px;
		}
	}
}

/* Blog */

#blog {
	.btn {
		margin-top: 40px;
	}
}

/* Contact */

#contact {
	#page-head {
		padding-bottom: 0;
	}
	.contact-form-head {
		font-weight: 300;
		background: #fff;
		color: #000;
		text-shadow: none;
		margin: 0;
		padding: 20px 40px;
		line-height: 48px;
	}
	.contact-foot-head {
		font-weight: 300;
		text-transform: uppercase;
		text-align: left;
		padding: 20px 40px;
		line-height: 60px;
		background: #fff;
		color: #333;
		margin: 0;
	}
	.contact-form {
		background-color: rgba(0,0,0,0.6);
		padding: 20px 40px;
	}
	.contact-bottom-grid {
		.col-md-4 {
			background: #000;
			padding: 0;
			max-width: 360px;
			margin-right: 45px;
		}
	}
}