body {
  background: #333;
  color: #fff;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

h1, h2, h3 {
  font-weight: 700; }

p {
  font-size: 2.5em;
  font-weight: 300;
  color: #999;
  letter-spacing: 0.05em; }

input, textarea {
  font-size: 2.5em;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  color: #333; }

header {
  background: #fff; }
  header .logo {
    position: absolute;
    margin-left: 50%;
    left: -25px;
    max-height: 50px; }

a {
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.05em; }
  a:hover, a:focus {
    color: #fff;
    text-decoration: none; }

section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  background-color: #333; }
  section .container {
    text-align: center;
    position: relative; }

footer {
  background: #4c80c5;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #ddd; }
  footer ul {
    text-align: center; }
    footer ul li {
      padding: 5px;
      font-size: 2em; }
      footer ul li:first-child {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase; }
  footer .copy {
    text-align: center; }

.inverse {
  background: #f2f2f2;
  color: #333; }
  .inverse .bar {
    background: #333; }

.navbar {
  position: fixed;
  width: 100%;
  border-radius: 0;
  z-index: 999;
  background: #fff;
  border: none; }
  .navbar a {
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 2em;
    background: #fff;
    color: #000;
    transition: all .33s ease; }
    .navbar a:hover {
      background: #333 !important;
      color: #fff !important; }
  .navbar .navbar-toggle {
    border: none; }
    .navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
      background: none; }
    .navbar .navbar-toggle .icon-bar {
      background-color: #4c80c5;
      height: 4px;
      width: 30px; }
  .navbar .navbar-brand {
    display: none;
    color: #4c80c5;
    font-size: 3em;
    position: relative;
    top: 2px;
    letter-spacing: initial; }
    .navbar .navbar-brand span {
      color: #2a4f81; }
    .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
      background: none !important;
      color: #4c80c5 !important; }

.more {
  color: #fff;
  font-weight: 700; }

.bar {
  display: block;
  height: 4px;
  width: 75px;
  background-color: #fff;
  margin: 20px auto; }

.btn-primary, .btn-default {
  border-radius: 5px;
  color: #fff;
  padding: 10px 30px;
  background: #4c80c5;
  margin-bottom: 5px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  left: 0; }
  .btn-primary i, .btn-default i {
    opacity: 0;
    transition: opacity .2s ease;
    font-size: 1.25em;
    position: relative;
    top: 1px;
    left: 2px; }
  .btn-primary span, .btn-default span {
    position: relative;
    left: 5px;
    transition: left .2s linear; }
  .btn-primary:hover > span, .btn-default:hover > span {
    left: -5px; }
  .btn-primary:hover > i, .btn-default:hover > i {
    opacity: 1; }

#page-head {
  background: none;
  background-size: 100%;
  background-position: 50%;
  padding-top: 110px; }
  #page-head p {
    color: #fff; }
  #page-head h1, #page-head p {
    text-shadow: 0 1px 3px #000; }

#affiliations .row {
  margin-top: 60px; }
  #affiliations .row .col-md-3 {
    margin-bottom: 40px; }
#affiliations img {
  max-height: 150px;
  margin: auto; }

.testimonials .carousel-caption {
  position: relative;
  right: initial;
  bottom: initial;
  left: initial;
  z-index: 10;
  padding: 0;
  text-shadow: none; }
  .testimonials .carousel-caption a {
    color: #4c80c5; }
.testimonials img {
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
  height: 100px; }
.testimonials .carousel {
  margin-bottom: 40px; }

/* Home Page */
#intro {
  background: none;
  background-size: 100%;
  background-position: 50%;
  min-height: 800px;
  padding-top: 200px; }
  #intro h1 {
    font-family: 'Oswald', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 20em; }
    #intro h1 span {
      color: #4c80c5; }
  #intro p {
    color: #fff; }
    #intro p .btn {
      margin-top: 10px;
      background: none;
      border: 1px solid #fff;
      margin-left: 5px; }
  #intro .continue {
    margin-top: 60px;
    background: #222;
    padding: 15px 13px 13px 15px;
    border-radius: 50%; }

#what-we-do .row .fa {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 8em; }

#home-graphics .desktop {
  position: relative;
  z-index: 3;
  margin: auto; }
#home-graphics .carousel {
  position: absolute;
  top: 190px;
  margin-left: 50%;
  left: -342px;
  z-index: 2; }

#home-mobile-ready {
  background-color: #000;
  background: none;
  background-size: 100%;
  background-position: 50%; }
  #home-mobile-ready h3 {
    text-align: left; }
  #home-mobile-ready .btn {
    position: relative;
    top: 40px; }

/* Portfolio Page */
#portfolio #portfolio-grid {
  padding-top: 40px; }
  #portfolio #portfolio-grid .btn-primary i, #portfolio #portfolio-grid .btn-default i {
    opacity: 1;
    left: 0; }
  #portfolio #portfolio-grid button {
    background: none;
    border: 1px solid #666;
    color: #fff;
    padding: 10px 12px;
    font-size: 3em;
    margin-right: 10px;
    transition: background-color .2s ease;
    margin-bottom: 5px;
    border-radius: 50%; }
    #portfolio #portfolio-grid button:first-child {
      font-size: 2.5em; }
    #portfolio #portfolio-grid button:hover {
      background: #fff;
      color: #333; }
  #portfolio #portfolio-grid figure {
    overflow: hidden;
    margin-bottom: 40px;
    position: relative; }
    #portfolio #portfolio-grid figure img {
      border-radius: 5px; }
    #portfolio #portfolio-grid figure figcaption {
      font-size: 2em; }
      #portfolio #portfolio-grid figure figcaption em {
        font-size: 0.75em;
        font-weight: 300; }
    #portfolio #portfolio-grid figure i {
      color: #fff;
      position: absolute;
      z-index: 999;
      top: 90px;
      left: 170px;
      background: #333;
      padding: 20px 18px 18px 20px;
      border-radius: 50%;
      font-size: 3em; }
      #portfolio #portfolio-grid figure i:hover {
        background: #4d4d4d; }
    #portfolio #portfolio-grid figure a {
      transition: top .2s ease;
      position: relative;
      top: -200px;
      left: -195px; }
    #portfolio #portfolio-grid figure:hover > a {
      top: 30px; }
    #portfolio #portfolio-grid figure:hover > img {
      opacity: 0.8; }
  #portfolio #portfolio-grid .active {
    background: #fff;
    color: #333; }
  #portfolio #portfolio-grid .filter-options {
    text-align: center; }
  #portfolio #portfolio-grid #grid {
    margin-top: 40px; }
#portfolio .btn {
  margin-top: 40px; }

/* Services */
#services section {
  padding-bottom: 0; }
  #services section img {
    margin: auto;
    padding-top: 40px; }
#services #page-head {
  padding-bottom: 80px; }
  #services #page-head .btn-primary {
    text-shadow: none;
    font-size: 0.75em; }

/* About */
#about .founder {
  background: #000 url("images/bryan-zion.png") top center no-repeat;
  background-size: 100%;
  min-height: 550px; }
  #about .founder p {
    text-align: left;
    margin-top: 40px; }

/* Blog */
#blog .btn {
  margin-top: 40px; }

/* Contact */
#contact #page-head {
  padding-bottom: 0; }
#contact .contact-form-head {
  font-weight: 300;
  background: #fff;
  color: #000;
  text-shadow: none;
  margin: 0;
  padding: 20px 40px;
  line-height: 48px; }
#contact .contact-foot-head {
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;
  padding: 20px 40px;
  line-height: 60px;
  background: #fff;
  color: #333;
  margin: 0; }
#contact .contact-form {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px 40px; }
#contact .contact-bottom-grid .col-md-4 {
  background: #000;
  padding: 0;
  max-width: 360px;
  margin-right: 45px; }

@media screen and (max-width: 1300px) {
  #about .founder {
    background-size: auto 100%;
    background-position: top left; } }
@media screen and (max-width: 991px) {
  #intro h1 {
    font-size: 15em; }

  #home-graphics .desktop {
    display: none; }
  #home-graphics .carousel {
    position: relative;
    top: initial;
    margin: 40px 0 40px 0;
    left: initial; } }
@media screen and (max-width: 767px) {
  section {
    padding-top: 40px;
    padding-bottom: 40px; }

  .navbar .navbar-brand {
    display: inline-block; } }
@media screen and (max-width: 503px) {
  #intro {
    padding-top: 80px; }
    #intro h1 {
      font-size: 8em;
      font-weight: normal; }

  #portfolio #portfolio-grid {
    padding-top: 0; }
    #portfolio #portfolio-grid button {
      padding: 10px 12px;
      font-size: 3em;
      margin-right: 5px; }

  #home-mobile-ready .btn {
    top: 20px; } }

/*# sourceMappingURL=style.css.map */
