body {
  background: #222;
  color: #fff;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

h1, h2, h3 {
  font-weight: 700; }

p {
  font-size: 2.5em;
  font-weight: 300;
  color: #999;
  letter-spacing: 0.05em; }

header {
  background: #fff; }
  header .logo {
    position: absolute;
    margin-left: 50%;
    left: -25px;
    max-height: 50px; }

a {
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.05em; }
  a:hover, a:focus {
    color: #fff;
    text-decoration: none; }

section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  background: url("images/footer_lodyas.png"); }
  section .container {
    text-align: center;
    position: relative; }

footer {
  background: #337ab7;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #ddd; }
  footer ul {
    text-align: center; }
    footer ul li {
      padding: 5px;
      font-size: 2em; }
      footer ul li:first-child {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase; }
  footer .copy {
    text-align: center; }

.inverse {
  background: #000; }

.navbar {
  position: fixed;
  width: 100%;
  border-radius: 0;
  z-index: 999;
  background: #fff;
  border: none; }
  .navbar a {
    font-size: 2em;
    background: #fff;
    color: #000;
    transition: all .33s ease; }
    .navbar a:hover {
      background: #000 !important;
      color: #fff !important; }

.more {
  color: #fff;
  font-weight: 700; }

.btn-primary, .btn-default {
  border-radius: 0;
  border: 1px solid #fff;
  border-color: #fff;
  padding: 10px 20px;
  font-size: 2em;
  background: none;
  transition: all .2s ease;
  margin-bottom: 5px; }
  .btn-primary:hover, .btn-primary:focus, .btn-default:hover, .btn-default:focus {
    background-color: #fff;
    border-color: #fff;
    color: #333; }

#page-head {
  background: none;
  background-size: 100%;
  background-position: 50%;
  padding-top: 110px; }
  #page-head p {
    color: #fff; }
  #page-head h1, #page-head p {
    text-shadow: 0 1px 3px #000; }

/* Home Page */
#intro {
  background: none;
  background-size: 100%;
  background-position: 50%;
  min-height: 800px;
  padding-top: 280px; }
  #intro p {
    color: #fff; }
  #intro i {
    margin-top: 60px;
    background: #222;
    padding: 15px 13px 13px 15px;
    border-radius: 50%; }

#home-graphics .desktop {
  position: relative;
  z-index: 3;
  margin: auto; }
#home-graphics .carousel {
  position: absolute;
  top: 150px;
  margin-left: 50%;
  left: -342px;
  z-index: 2; }

#home-mobile-ready {
  padding-bottom: 0; }
  #home-mobile-ready img {
    margin: auto;
    margin-top: 40px; }

#home-optimization {
  padding-bottom: 0; }
  #home-optimization img {
    margin: auto; }

#home-maintenance .row {
  margin-top: 40px;
  margin-bottom: 40px; }
#home-maintenance .col-md-3 {
  text-align: center; }
  #home-maintenance .col-md-3 i {
    font-size: 7em;
    color: #333;
    padding: 20px; }

#home-contact {
  text-align: center; }
  #home-contact .contact-modal {
    margin-top: 40px; }
  #home-contact .modal-content {
    background: #222; }
    #home-contact .modal-content .modal-header {
      border: none; }
      #home-contact .modal-content .modal-header h4 {
        font-weight: 700; }
    #home-contact .modal-content .modal-footer {
      border: none; }

/* Portfolio Page */
#portfolio #portfolio-grid {
  padding-top: 40px; }
  #portfolio #portfolio-grid button {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    font-size: 2em;
    margin-right: 10px;
    transition: background-color .2s ease;
    margin-bottom: 5px; }
    #portfolio #portfolio-grid button:hover {
      background: #fff;
      color: #333; }
  #portfolio #portfolio-grid figure {
    overflow: hidden;
    margin-bottom: 40px;
    position: relative; }
    #portfolio #portfolio-grid figure figcaption {
      font-size: 2em; }
      #portfolio #portfolio-grid figure figcaption em {
        font-size: 0.75em;
        font-weight: 300; }
    #portfolio #portfolio-grid figure i {
      padding: 10px;
      color: #fff;
      position: absolute;
      z-index: 999;
      top: 60px;
      left: 120px;
      background: #333;
      padding: 17px 15px 15px 17px;
      border-radius: 50%;
      font-size: 3em; }
      #portfolio #portfolio-grid figure i:hover {
        background: #444; }
    #portfolio #portfolio-grid figure a {
      opacity: 0;
      transition: opacity .2s ease; }
    #portfolio #portfolio-grid figure:hover > a {
      opacity: 1; }
  #portfolio #portfolio-grid .active {
    background: #fff;
    color: #333; }
  #portfolio #portfolio-grid .filter-options {
    text-align: center; }
  #portfolio #portfolio-grid #grid {
    margin-top: 40px; }
#portfolio .btn {
  margin-top: 40px; }

/* Services */
#services section {
  padding-bottom: 0; }
  #services section img {
    margin: auto;
    padding-top: 40px; }
#services #page-head {
  padding-bottom: 80px; }
  #services #page-head .btn-primary {
    text-shadow: none;
    font-size: 0.75em; }

/* Blog */
#blog .btn {
  margin-top: 40px; }

/*# sourceMappingURL=style.css.map */
