body {
  background: #222;
  color: #fff;
  font-family: 'Open Sans', helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

h1, h2, h3 {
  font-weight: 700; }

p {
  font-size: 2.5em;
  font-weight: 300;
  color: #999;
  letter-spacing: 0.05em; }

header {
  background: #fff; }
  header .logo {
    position: absolute;
    margin-left: 50%;
    left: -25px;
    max-height: 50px; }

a {
  font-weight: 400;
  color: #fff;
  letter-spacing: 0.05em; }
  a:hover, a:focus {
    color: #fff;
    text-decoration: none; }

section {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  background: url("images/footer_lodyas.png"); }

footer {
  background: #337ab7;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #ddd; }
  footer ul {
    text-align: center; }
    footer ul li {
      padding: 5px;
      font-size: 2em; }
      footer ul li:first-child {
        color: #fff;
        font-weight: bold;
        text-transform: uppercase; }
  footer .copy {
    text-align: center; }

.inverse {
  background: #000; }

.navbar {
  position: fixed;
  width: 100%;
  border-radius: 0;
  z-index: 999;
  background: #fff;
  border: none; }
  .navbar a {
    font-size: 2em;
    background: #fff;
    color: #000;
    transition: all .33s ease; }
    .navbar a:hover {
      background: #000 !important;
      color: #fff !important; }

.more {
  color: #fff;
  font-weight: 700; }

.btn-primary, .btn-default {
  border-radius: 0;
  border: 1px solid #fff;
  padding: 10px 20px;
  font-size: 2em;
  background: none; }
  .btn-primary:hover, .btn-default:hover {
    background: #fff;
    color: #333; }

#intro {
  background: top center no-repeat url("http://payload93.cargocollective.com/1/8/282864/4164574/DSC_0476%20copycrop_900.jpg");
  background-size: 100%;
  background-position: 50%;
  min-height: 600px;
  padding-top: 200px; }
  #intro p {
    color: #fff; }
  #intro i {
    margin-top: 60px;
    background: #222;
    padding: 15px 13px 13px 15px;
    border-radius: 50%; }

#home-graphics img {
  margin: auto; }

#home-mobile-ready {
  padding-bottom: 0; }
  #home-mobile-ready img {
    margin: auto;
    margin-top: 40px; }

#home-optimization {
  padding-bottom: 0; }
  #home-optimization img {
    margin: auto; }

#home-maintenance .row {
  margin-top: 40px;
  margin-bottom: 40px; }
#home-maintenance .col-md-3 {
  text-align: center; }
  #home-maintenance .col-md-3 i {
    font-size: 7em;
    color: #333;
    padding: 20px; }

#home-contact {
  text-align: center; }
  #home-contact .contact-modal {
    margin-top: 40px; }
  #home-contact .modal-content {
    background: #222; }
    #home-contact .modal-content .modal-header {
      border: none; }
      #home-contact .modal-content .modal-header h4 {
        font-weight: 700; }
    #home-contact .modal-content .modal-footer {
      border: none; }

/* Portfolio Page */
#portfolio-grid {
  padding-top: 40px; }
  #portfolio-grid button {
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    font-size: 2em;
    margin-right: 10px;
    transition: background-color .2s ease; }
    #portfolio-grid button:hover {
      background: #fff;
      color: #333; }
  #portfolio-grid figure {
    overflow: hidden;
    margin-bottom: 40px; }
  #portfolio-grid .active {
    background: #fff;
    color: #333; }
  #portfolio-grid .filter-options {
    text-align: center; }
  #portfolio-grid #grid {
    margin-top: 40px; }

/*# sourceMappingURL=style.css.map */
